<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>home page</title>
    <link rel="stylesheet" href="/static/styles/style.css">

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    

  </head>

  <body >
  <div class="home">

  
    <div class="title">
      <h1>Project Based Learning 2021</h1>
    </div>
    <hr class="divide">

    <div class="row">
      <div class="col-xs-12 col-lg-8 vidcon align-middle justify-content-middle">
        <div  class="vid" id="container"></div>
        
      </div>

<!-- Modify this button -->
<!-- 
      <div class="d-inline" id="b">
        <button  class="btn btn-primary" id="but" onclick="play_stop()"><b>Start</b></button>
      </div> -->


      <div class="col-xs-12 col-lg-4">
        <div class="row mt-4 totalcnt border-info border-4">
          <div class="col-xs-6 col-lg-4">
            Total No of Peoples
          </div>
          <div class="col-xs-6 col-lg-4 justify-content-middle align-middle count">
            <span id="person">0</span>
          </div>
        </div>
        <div class="row mt-4 totalcnt border-danger border-4">
          <div class="col-xs-6 col-lg-4">
            People Without Mask
          </div>
          <div class="col-xs-6 col-lg-4 justify-content-middle align-middle count">
            <span id="no_mask">0</span>
          </div>
        </div>
        <div class="row mt-4 totalcnt border-success border-4">
          <div class="col-xs-6 col-lg-4">
            People with Mask
          </div>
          <div class="col-xs-6 col-lg-4 justify-content-middle align-middle count">
            <span id="mask">0</span>
          </div>
        </div>
        <div class="row mt-4 totalcnt border-success border-4">
          <div class="col-xs-6 col-lg-4">
            <ul>
              <li onclick="change_video(0)">Webcam</li>
              <li onclick="change_video(1)">Video 1</li>
              <li onclick="change_video(2)">Video 2</li>
              <li onclick="change_video(3)">Video 3</li>
            </ul>
          </div>
          <div class="col-xs-6 col-lg-4 justify-content-middle align-middle count">
            <span> <button  class="btn btn-warning btn-lg p-2" id="but" onclick="play_stop()"><b>Start</b></button></span>
          </div>
        </div>

    </div>




   
    </div>
  </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>

  <script type="text/javascript">
    stop = true;
    times = 0;
    timer = null;

    function play_stop() {
      var xhttp = new XMLHttpRequest();

      xhttp.open("GET", "/play_stop", true);
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          if (stop == true) {
            stop = false;
            // document.getElementById('image').src="/video_feed"
            var x = document.createElement("IMG");
            x.id = "image";
            x.src = "/video_feed/" + ++times;
            x.height = "300";
            x.width = "500";
            document.getElementById("container").appendChild(x);
            document.getElementById("but").innerHTML = "<b>Stop</b>";
            timer = createTimer();
          } else {
            stop = true;
            document.getElementById("mask").innerHTML = 0;
            
            document.getElementById("no_mask").innerHTML = 0;
            document.getElementById("person").innerHTML = 0;
            document.getElementById("image").remove();
            document.getElementById("but").innerHTML = "<b>Start</b>";
            clearInterval(timer);
          }
        }
      };
      xhttp.send();
    }

    function change_video(n) {
      var xhttp = new XMLHttpRequest();

      xhttp.open("GET", "/change_input/" + n, true);
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          alert("Video Input changed!");
        }
      };
      xhttp.send();
      play_stop();
    }

    function createTimer() {
      return setInterval(function () {
        var xhttp = new XMLHttpRequest();

        xhttp.open("GET", "/info", true);
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            nos = this.responseText.split("#");
            document.getElementById("mask").innerHTML = nos[2];
            document.getElementById("no_mask").innerHTML = nos[1];
            document.getElementById("person").innerHTML = nos[0];
          }
        };
        xhttp.send();
      }, 1000);
    }
  </script>
</html>
